.newHeaderTra .header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 2;
}
.newHeaderTra{
  background-color: #65667469;
}
.headerMenu {
  position: relative;
  z-index: 9;
}
.headerLogo {
  z-index: 999;
  position: relative;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.headerWrapper {
  position: relative;
  z-index: 1;
}


.headerMenuSmallButton {
  transition: 0.3s;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 44px;
  line-height: 44px;
  margin-left: 24px;
}

.headerMenuSmallButton:hover {
  text-decoration: underline;
  text-decoration-color: #4ffdfe;
  text-underline-offset: 8px;
}

.headerMenuSmallButton.active {
  text-decoration: underline;
  text-decoration-color: #4ffdfe;
  text-underline-offset: 8px;
}
.headerMenuBigButton {
  cursor: pointer;
  border-radius: 7px;
  padding: 0 24px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  line-height: 42px;
  margin-left: 19px;
  min-width: 231px;
  transition: 0.3s;
  display: inline-block;
}

.headerMenuBigButton1 {
  color: #2f1218;
  background: linear-gradient(to right, #f66771, #bf4372);
  margin-left: 24px;
  line-height: 44px;
  transition: 0.3s;
}

.headerMenuBigButton1:hover {
  background: linear-gradient(to right, #f88d95, #cf7295);
}

.headerMenuBigButton2 {
  line-height: 42px;
  border: 1px solid #545661;
  background-color: #292c39;
}

.headerMenuBigButton2:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid #696a76;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 30px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}
.headerLogo {
  height: 90px;
  width: 180px;
  transition: 0.3s;
  display: block;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
}
.headerLogo img {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .headerMenuBigButton {
    min-width: 150px;
  }
}

@media screen and (max-width: 991px) {
  .headerMenuBigButton {
    min-width: auto;
  }
  .headerMenuBigButton,
  .headerMenuSmallButton {
    font-size: 16px;
  }
}

@media screen and (max-width: 860px) {
  .header {
    flex-direction: column;
    height: auto;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 660px) {
  .header {
    padding: 0 20px;
    padding-bottom: 20px;
  }
  a.headerMenuSmallButton {
    margin-bottom: 15px;
    display: inline-block;
  }
  .header .headerMenuSmallButton:nth-child(1) {
    margin-left: 0;
  }
}
@media screen and (max-width: 400px) {
  a.headerMenuSmallButton {
    margin-bottom: 5px;
  }
  .header .headerMenuBigButton1 {
    margin-bottom: 15px;
  }
  .headerMenuBigButton1,
  .headerMenuBigButton2 {
    margin-left: 10px;
  }
}
