.section3 {
  padding: 60px 0;
}

.section3text {
  margin-top: 6px;
  max-width: 680px;
  font-size: 18px;
  color: #a0a1a7;
  font-weight: 500;
}

.section3itemsWrapper {
  width: 100%;
  margin-top: 60px;
}

.section3item {
  margin-bottom: 30px;
  vertical-align: top;
  min-height: 162px;
  padding: 30px 24px;
  text-align: left;
  width: calc(50% - 15px) !important;
  border-radius: 6px;
  background: linear-gradient(45deg, #241c3c, #1b2d46);
  border: 1px solid #5e6aa6;
}

.section3itemTitle {
  text-align: left;
  width: 100%;
  font-size: 30px;
  color: white;
  font-weight: 700;
  font-family: "Jost", sans-serif;
}

.section3itemText {
  margin-top: 8px;
  color: white;
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.section3item2 {
  margin-left: 30px;
}

.section3 div {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .section3 div {
    display: block;
  }

  .section3item {
    width: 100% !important;
    margin: 0;
    margin-bottom: 30px;
  }
}
